.container{
    width: 300px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(77, 44, 44);
    border-radius: 8px;
   
}
button {
    width: 80px;
    height: 80px;
    font-size: 24px;
margin: 5px;
background-color: rgb(150, 150, 199);
border-radius: 6px;

}

input{
width: 88%;
height: 80px;
margin-bottom: 30px;
border-radius: 10px;


}

#equal{ background-color: rgb(216, 39, 39);}